.header{
    padding:80px;
    background-size: contain;
    background-color:rgb(159, 159, 233);
    background-image: url(Images/2.jpeg);
    background-repeat: no-repeat;
    background-size:auto;
    background-blend-mode:multiply;
    background-position: center;
}
.header a{
    float: left;
    text-align: center;
    padding-right: 10x;
    font-size: 17px;
    border-radius: 10px;
    margin-right: 5px;
    text-decoration: none;
}
.header a:hover{
    background-color:rgb(233, 182, 199);
    color: black;
}
.header a.active{
    background-color:rgb(78, 196, 239);
    color: white;
    padding: 14px;
}
.content{
    background-color: rgb(178, 166, 239);
    padding: 50px;
    font-size: large;
}
.img{
    image-resolution: 50px;
}
.footer{
    padding: 50px;
    background-color: rgb(129, 125, 241);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-justify: auto;
}
.container{
    padding: 15%;
    text-align: justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    font-size: large;
    background-image:url(Images/8.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    border-radius: 10px;
}
body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}

